// font-family: 'Lobster', cursive;

// font-family: 'Pacifico', cursive;

// font-family: 'Sen', sans-serif;

// font-family: 'Courgette', cursive;

// font-family: 'Parisienne', cursive;

// Styling of the header/hero with logo, title and subtitle
$display-wide: 1920;
$display-narrow: 320;

@mixin fluid($property, $minValue, $maxValue) {
  $x: ($maxValue - $minValue)/ ($display-wide - $display-narrow);
  $y: $maxValue - $display-wide * $x;
  #{$property}: calc(#{100 * $x}vw + #{$y}px);
}

.jumbotron {
  background-color: rgba(255, 182, 193, 0.7);
  margin-bottom: 0;
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(./img/tim-mossholder-q49oU8NeOHQ-unsplash.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    z-index: -1;
  }
  .brand {
    display: flex;
    flex-direction: column;
    font-family: "Courgette", cursive;
    h1 {
      @include fluid("font-size", 40, 100);
    }
    width: 100%;
    img {
      margin: auto;
      padding: 1em;
      width: 150px;
      border: 1px solid #000;
    }
  }
  h3,
  p {
    font-family: "Lobster Two", cursive;
    font-weight: 400;
    @include fluid("font-size", 15, 40);
  }
}

// Styling of top mid section of the page with photos

.photos {
  width: 100%;
  margin: 0;
  background: rgb(97, 180, 176);
}

.photo-caroussel {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-auto-flow: row;
  justify-content: center;
  gap: 20px;

  img {
    display: block;
    max-width: 200px;
    max-height: 200px;
  }
}

// Styling of bottom mid section with services and opening times
#main-content {
  width: 100%;
  height: 500px;
  background-color: rgb(12, 32, 58);
  margin: 0;
  padding: 0;
  justify-content: center;

  .wrap-section {
    display: flex;
    justify-content: center;
    position: relative;
    // max-width: 900px;
    height: 100%;
    color: #fff;
  }
  .services {
    list-style: none;
    padding-top: 1em;
    padding-left: 0;
    margin: auto;
    li {
      padding-bottom: 0.5em;
    }
  }

  .vl {
    width: 2px;
    height: 500px;
    background-color: rgb(255, 0, 98);
    // justify-content: center;
    margin: auto;
    position: absolute;
  }

  .opening-times {
    margin: auto auto auto auto;

    h5 {
      padding-right: 2em;
    }
  }
}

// Styling of the footer

.footer {
  background-color: rgba(255, 182, 193, 0.7);

  .wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-top: 1em;
    margin: auto;
  }
  .contact {
    // display: flex;
    // justify-content: space-between;
    // width: 700px;
    padding: 0;
    margin: auto;
    .contact-info {
      text-align: center;
    }
    p {
      line-height: 0.3em;
    }
    ul {
      list-style: none;
      padding: 0;
      text-align: center;
      li {
        display: inline-block;
        font-size: 3em;
        padding: 0;
      }
    }
  }
  .map {
    margin: auto;
    iframe {
      width: 700px;
      height: 380px;
    }
  }
}

@media only screen and (max-width: 700px) {
  .photos {
    .photo-caroussel {
      grid-template-columns: auto auto;
      grid-auto-flow: row;
      justify-content: center;
      gap: 20px;
    }
    img {
      width: 130px;
    }
  }

  .wrap-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    // max-width: 900px;
    margin: auto auto 0 auto;
    color: #fff;
    .services {
      list-style: none;
      padding-top: 1em;
      padding-left: 0;
      margin: auto auto 0 auto;
      font-size: 14px !important;
      text-align: center;
      li {
        padding-bottom: 0.5em;
      }
    }

    .vl {
      display: block;
      width: 300px !important;
      height: 2px !important;
      background-color: rgb(255, 0, 98);
      position: relative !important;
      margin: auto;
    }

    .opening-times {
      margin: auto auto 0 auto;
      font-size: 14px !important;
      text-align: center;

      h5 {
        padding: 0 !important;
      }
    }
  }

  .footer {
    .map {
      // display: none;
      // margin: auto;
      iframe {
        width: 500px;
        height: 300px;
      }
    }
  }
}
@media only screen and (max-width: 500px) {
  .footer {
    .map {
      iframe {
        width: 300px !important;
        height: 200px !important;
      }
    }
  }
}
